:root {
  --primary-yellow: #fec631;
  --primary-orange: #f59004;
}
a {
  text-decoration: none;
}

/* 讓 Hero 區塊變成黃色 */
.heroSection {
  background-color: var(--primary-yellow);
  position: relative;
}
.heroTitle {
  font-size: 28px;
  font-weight: bold;
  color: #262626;
}
.hero-img-sign {
  position: relative;
}
.hero-img-sign::after {
  /* 行動版箭頭 */
  content: "";
  position: absolute;
  background-image: url("/image/Frame\ 87783.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 84px;
  height: 112px;
  top: -24px;
  right: 27px;
}
.heroSlogan {
  font-size: 16px;
  font-weight: 400;
  color: #262626;
}
.heroSection::after {
  /* 行動版六寶大圖 */
  content: "";
  position: absolute;
  background-image: url("/image/minnie-zhou-0hiUWSi7jvs-unsplash\ 1.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  aspect-ratio: 1024/682;
  top: 108px;
  right: 0px;
  z-index: 5;
}
.searchArea {
  background-color: #ffffff;
  border-radius: 16px;
}
.search-item {
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #fec631;
  padding-bottom: 6px;
}
.search-item:last-of-type {
  border: none;
}
.form-select {
  border: none;
  font-weight: bold;
}
.form-select label {
  font-size: 14px;
}
.search-btn {
  background-color: var(--primary-yellow);
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  border: none;
  font-weight: bold;
  color: #0a0a0a;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-btn .feather {
  stroke-width: 2;
}
/* --- Feather Icons 通用設定 --- */
.feather {
  width: 24px; /* 預設寬度 */
  height: 24px; /* 預設高度 */
  stroke: currentColor; /* 讓圖示顏色跟著文字顏色變 */
  stroke-width: 3; /* 線條粗細 (Feather 特色是細線，你可以改 2.5 或 3 變粗) */
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none; /* 預設不要填滿顏色 (除非你要做實心) */
  vertical-align: text-bottom; /* 讓圖示跟文字對齊好看一點 */
}

/* ---- 桌機板hero ---- */
@media (min-width: 768px) {
  .heroSection {
    overflow: hidden;
    width: auto;
    max-width: 1920px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 40px;
  }

  .heroTitle {
    padding-top: 96px;
    font-size: 48px;
    position: relative;
    z-index: 3;
  }
  .heroSlogan {
    font-size: 20px;
    position: relative;
    z-index: 3;
  }
  .searchArea {
    border-radius: 24px;
    max-width: 656px;
    position: relative;
    z-index: 3;
  }
  .search-item {
    border: 0;
    padding: 0;
    margin-bottom: 8px;
  }
  .search-btn {
    border-radius: 0;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
  }

  .hero-img-sign {
    max-width: 1296px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 143px;
  }

  .hero-img-sign::after {
    /* --桌機板右上方虛線箭頭-- */
    /* border: 1px solid red; */
    background-image: url("/public/image/Frame\ 87781.png");
    background-size: cover;
    position: absolute;
    display: block;
    aspect-ratio: 728 / 164;
    width: 80%;
    max-width: 728px;
    height: 164px;
    top: 16px;
    right: -150px;
  }
  .heroSection::before {
    /* --桌機板左下方虛線箭頭-- */
    /* border: 1px solid red; */
    content: "";
    background-image: url("../public/image/Frame\ 87780.png");
    background-size: cover;
    position: absolute;
    width: 640px;
    height: 204px;
    bottom: 58px;
    left: 118px;
    /* display: block;
    aspect-ratio: 728 / 164;
    width: 80%;
    top: 16px;
    right: -150px; */
  }
  .heroSection::after {
    /* 桌機版六寶大圖 */
    width: 880px;
    aspect-ratio: 1024/682;
    top: auto;
    bottom: -40px;
    right: 0px;
    left: auto;
    z-index: 2;
  }
}
/* -- 以上為Hero區塊 -- */

/* -- 稀寵資訊專區 -- */

/* 1. 設定標題本體 (父元素) */
.section-title {
  position: relative; /* 關鍵：讓偽元素以此為定位基準 */
  /* display: inline-block; 讓寬度貼合文字，比較好置中 */
  z-index: 1; /* 確保中文在最上層 */
  font-weight: bold;
  color: #333;
  font-size: 24px;
}
/* 2. 設定背後的英文浮水印 (偽元素) */
.section-title::before {
  /* 🔥 魔法：去抓 HTML 裡面的 data-en-title 屬性值 */
  content: attr(data-en-title);
  /* 定位設定 */
  position: absolute;
  left: 50%; /* 1. 先把左側推到父元素的正中間 */
  top: 50%; /* 2. 高度也推到中間 */
  transform: translate(
    -50%,
    -50%
  ); /* 3. 把自己往回拉 50% (水平和垂直都回拉)，達成完美置中 */
  /* 文字樣式設定 */
  font-size: 40px; /* 字要超大！ (你可以依設計稿調整) */
  font-family: sans-serif; /* 英文通常用無襯線體 */
  color: #85bdde;
  opacity: 0.2; /* 關鍵：透明度！讓它淡淡的 */
  white-space: nowrap; /* 強制不換行 */
  z-index: -1; /* 關鍵：放到中文的後面 (圖層 -1) */
}

@media (min-width: 768px) {
  .section-title-outside {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #ffffff;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    position: relative;
  }
  /* -- 背景削成圓角 -- */
  .section-title-outside::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: transparent;
    border-top-right-radius: 30px;
    top: 0px;
    left: -50px;
    box-shadow: 12px -5px 0 0 #ffffff;
    /* border: 1px solid red; */
    z-index: 1;
  }
  .section-title-outside::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: transparent;
    border-top-left-radius: 30px;
    top: 0px;
    right: -50px;
    box-shadow: -12px -5px 0 0 #ffffff;
    /* border: 1px solid red; */
    z-index: 1;
  }

  .infoSection {
    background-color: #c9e9f4;
    border-radius: 40px;
    margin-left: 40px;
    margin-right: 40px;
  }
  .section-title {
    font-size: 48px;
    margin-bottom: 40px;
  }
  .section-title::before {
    font-size: 128px;
    transform: translate(-50%, -30%);
  }
  .infoContent {
    /* 這是中間卡片的區域 */
    /* position: relative; */
    max-width: 1296px;
    margin: 0 auto;
  }
  /* .infoContent::before {
    content: "";
    background-color: #ffffff;
    position: absolute;
    width: 440px;
    height: 136px;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    z-index: 1;
    top: -35%;
    left: 0;
  } */
}
.infoContent {
  background-color: #c9e9f4;
}
.infoContentCard {
  background-color: #fff;
  border-radius: 16px;
  position: relative;
  padding: 24px;
}
.infoContentCard::after {
  content: "";
  position: absolute;
  top: 25px;
  right: 25px;
  background-color: #ffffff;
  color: #c9e9f4;
  background-image: url("/image/Frame\ 87685.png");
  width: 24px;
  height: 17px;
}

.card-title {
  font-weight: bold;
  font-size: 20px;
  margin-top: 25px;
}
.card-text {
  color: #525252;
  margin-bottom: 8px;
}
.moreInfoBtn {
  background-color: #ffffff;
  font-weight: bold;
  padding: 15px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
/* -- 以上為稀寵資訊專區 -- */

/* -- 熱門店家 -- */
/* 使用 class section-title 的顏色 */
.section-title.primary-yellow::before {
  color: #fec631;
}

.hotSpot .store-img {
  width: 132px; /* 圖片通常可以比線條 icon 大一點，看你需求調整 */
  height: auto; /* 高度自動，維持比例 */
  object-fit: contain; /* 確保圖片完整顯示不變形 */
}

/* --- 熱門店家區塊 Swiper 設定 --- */
.swiper {
  background-color: var(--primary-yellow); /* 整個背景是黃的 */
}
/* 1. 卡片預設樣式 (針對旁邊沒選中的卡片) */
.store-card {
  /* 關鍵：背景透明，透出底下的黃色，看起來就像黃色遮罩 */
  background-color: transparent;
  background-color: #ffffff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  /* 稍微透明一點，讓文字不跟背景打架 */
  opacity: 0.2;
  /* 動畫過渡效果 */
  transition: all 0.3s ease;
  padding: 16px 12px 24px 12px;
  max-height: 261px;
}
.fav-icon {
  width: 16px;
  height: 16px;
  font-size: 16px;
}
.store-content {
  min-height: 104px;
}
.store-name {
  font-weight: bold;
  color: #262626;
}
.store-add {
  font-size: 14px;
  color: #777777;
  margin: 0;
}
/* 3. 🔥 Active 狀態：當卡片被選中時 (變回實心) */
.swiper-slide-active .store-card {
  background-color: #fff; /* 變成純白背景 */
  opacity: 1; /* 完全不透明 */
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05); /* 加上浮起來的陰影 */
}
.swiper-slide-active .fav-icon {
  fill: currentColor;
  color: var(--primary-orange);
}
.swiper-slide-active span {
  color: var(--primary-orange);
}
/* 4. 分頁點點顏色修正 */
.swiper-pagination-bullet-active {
  background-color: #333 !important;
}
@media (min-width: 768px) {
  .hotSpot {
    background-color: var(--primary-yellow);
    border-radius: 40px;
    margin-left: 40px;
    margin-right: 40px;
    position: relative;
  }
  .hotSpot-content {
    max-width: 1296px;
    margin: 0 auto;
  }
  .store-card {
    opacity: 1;
    padding-bottom: 48px;
    padding-top: 36px;
    border-radius: 16px;
  }
  .fav-icon {
    fill: currentColor;
    color: var(--primary-orange);
  }
  .store-card span {
    color: var(--primary-orange);
  }
  .hotSpot .store-img {
    width: 274px; /* 圖片通常可以比線條 icon 大一點，看你需求調整 */
  }
  .store-name {
    font-size: 20px;
  }
  .store-add {
    font-size: 16px;
  }

  .hotSpot .swiper-button-prev,
  .hotSpot .swiper-button-next {
    /* -- 形狀與大小 -- */
    position: absolute;
    width: 56px; /* 設定固定寬度 */
    height: 56px; /* 設定固定高度 */
    border-radius: 50%; /* 變成正圓形 */
    background-color: #ffffff; /* 白色背景 */
    /* -- 讓裡面的 Feather Icon 置中 -- */
    align-items: center;
    justify-content: center;
    /* -- 視覺美化 -- */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* 加一點陰影讓它浮起來 */
    color: #333333; /* 箭頭顏色 (深灰/黑) */
    z-index: 10; /* 確保浮在最上層 */
    /* -- 移除預設的邊框與背景透明 -- */
    margin: 0;
    border: none;
    /* -- 垂直置中 (Swiper 預設已經有 top: 50%，若沒有則加上) -- */
    top: 55%;
    /* transform: translateY(-50%); */
  }
  /* 3. 定位調整：把按鈕拉到卡片外側 */
  /* 根據你的容器寬度，用負數把它拉出去 */
  .hotSpot .swiper-button-prev {
    left: 10px;
  }
  .hotSpot .swiper-button-next {
    right: 10px;
  }
  /* 4. (選用) Hover 效果：滑鼠移上去變色 */
  .hotSpot .swiper-button-prev:hover,
  .hotSpot .swiper-button-next:hover {
    border: 2px solid var(--primary-yellow);
    cursor: pointer;
  }
  .hotSpot .swiper-button-prev .feather,
  .hotSpot .swiper-button-next .feather {
    fill: none;
    width: 36px;
    height: 36px;
    stroke-width: 1.5;
  }
}
@media (min-width: 1600px) {
  .hotSpot .swiper-button-prev,
  .hotSpot .swiper-button-next {
    top: 55%;
  }
  .hotSpot .swiper-button-prev {
    /* left: 230px; */
    left: calc(50% - 648px - 80px);
  }
  .hotSpot .swiper-button-next {
    /* right: 230px; */
    right: calc(50% - 648px - 80px);
  }
}

/* -- header,footer 範例 定位用 -- */
.example-footer {
  height: 312px;
}
.example-header {
  height: 72px;
}
@media (min-width: 768px) {
  .example-footer {
    height: 224px;
  }
  .example-header {
    height: 156px;
  }
}
/* -------------------------------- */

/* ---------------- SearchBar 核心容器 ----------------- */
.search-pill {
  background-color: #fff;
  border-radius: 16px; /* 手機板 */
  /* overflow: visible;  */ /*確保下拉選單不被切掉*/
  padding: 12px;
}
/* ---------- 下拉按鈕與文字區塊 ---------- */
.search-pill .dropdown {
  padding-top: 4px;
}
.search-pill .btn-dropdown {
  background: transparent;
  border: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 16px;
}
.dropdown .search-pill-label {
  font-size: 14px;
  color: #525252;
}
.dropdown .search-pill-value {
  font-size: 16px;
  font-weight: bold;
  color: #262626;
}
/* -------------- 選單中的分隔黃線 -------------- */
.dropdown:not(:last-child) {
  position: relative;
}
.dropdown:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: -12px;
  transform: translateY(50%); /* 往下自身的50% */
  width: 100%;
  height: 2px;
  background-color: var(--primary-yellow); /* 線的顏色 */
  border-radius: 30px;
}
/* ---------- 下拉選單 icon ----------  */
.btn-dropdown .feather {
  width: 24px;
  height: 24px;
  stroke-width: 2;
  margin-right: 0;
}
/* ---------- 下拉選單本體  ---------- */
.search-pill .dropdown-menu {
  max-width: 129px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 4px;
  /* 置中對齊基準 */
  left: 50%;
  transform: translateX(-50%);
  padding: 8px;
}
.search-pill .dropdown-item {
  /* text-align: center; */
  border-radius: 40px;
}
.search-pill .dropdown-item:hover,
.search-pill .dropdown-item.active {
  background-color: #c9e9f4;
  color: #000;
  font-weight: bold;
}
/* ---------- 立即搜搜按鈕 ---------- */
.btn-search {
  background-color: var(--primary-yellow);
  width: 100%;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  padding-top: 14.5px;
  padding-bottom: 14.5px;
  margin-top: 16px;
}
/* ---------- 搜搜按鈕的icon ---------- */
.btn-search .feather {
  height: 24px;
  width: 24px;
  margin-left: 8px;
  stroke-width: 2.5;
}

/* -------------------------------- */
@media (min-width: 768px) {
  .search-pill {
    position: relative;
    z-index: 3;
    border-radius: 24px;
    padding: 8px;
    max-width: 656px;
  }
  .dropdown-select {
    flex: 1;
  }
  /* -------------- 選單中的分隔黃線 -------------- */
  .dropdown:not(:last-child)::after {
    bottom: 0px;
    transform: translateX(50%);
    right: -12px;
    width: 2px;
    height: 100%;
  }
  /* ---------- 下拉選單本體 - 避免因外層 hero section 的 overflow:hidden 而被隱藏  ---------- */
  .search-pill .dropdown-menu {
    width: 145px;
    min-width: 145px;
    max-height: 192px; /* 嚴格對齊設計圖的高度 */
    overflow-y: auto; /* 內容超過 192px 時自動出現捲軸 */
    overflow-x: hidden; /* 防止左右晃動 */
  }
  /* ---------- 立即搜搜按鈕 ---------- */
  .btn-search {
    width: 145px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 16px;
    margin-top: 0;
  }
}
